.cache
.DS_Store
build/*
builddir/*
__pycache__
.ipynb_checkpoints
.vscode
.idea
builddir
imgui.ini

*.zip
subprojects/*
!subprojects/*.wrap
!subprojects/libusb
!subprojects/packagefiles

build
build-*

!*.wrap
!packagefiles
!libusb