[submodule "subprojects/samurai"]
	path = subprojects/samurai
	url = https://github.com/luigifcruz/samurai.git
[submodule "subprojects/render/submodules/glfw-meson-shim/submodules/glfw"]
	path = subprojects/render/submodules/glfw-meson-shim/submodules/glfw
	url = https://github.com/glfw/glfw.git
