#include <windows.h>

1 RT_MANIFEST "app.manifest"

#ifdef CYBERETHER_ICON_PATH
IDI_CYBERETHER ICON CYBERETHER_ICON_PATH
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "Luigi Cruz"
      VALUE "FileDescription", "CyberEther"
      VALUE "FileVersion", "1.3.0"
      VALUE "InternalName", "cyberether"
      VALUE "OriginalFilename", "cyberether.exe"
      VALUE "ProductName", "CyberEther"
      VALUE "ProductVersion", "1.3.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
